@use '../custom' as *;

.menu {
  background: $primary;
  background-image: linear-gradient(rgba(119, 47, 26, 0.9), rgba(0, 0, 0, 0.8)), url(../images/muldoon-header.png);
  background-position: 0% 24%;
  box-shadow: 0 0.5rem 0.5rem rgba(119, 47, 26, 0.2);

  .navbar-brand {
    color: $secondary;
  }

  li {
    padding: 0 0.7rem;
  }

  a.nav-link { 
    color: $white;
    text-transform: capitalize;
    font-weight: 600;
  }

  a.nav-link:hover {
    color: peru;
  }

  a.dropdown-item {
    color: $primary;
    font-size: 0.85rem;
  }

  a.dropdown-item:hover, 
  a.dropdown-item:active {
    color: $darkred;
  }

  a.dropdown-item:active {
    background-color: rgba(119, 47, 26, 0.3);
  }

  .publication {
    font-style: italic;
  }
}