@use '../custom' as *;

.user-input {
  color: $primary;
  background: $secondary;
  font-size: 0.9rem;

  .form-control,
  .form-select {
    font-size: 0.8rem;
    color: $primary;
  }

  .sol-help {
    color: $darkred;
  }

  .btn-primary {
    color: $gray-200;
    border-color: $gray-600;
    background-color: $steelblue;
  }
  
  .btn-primary:hover {
    color: $gray-200;
    border-color: $gray-600;
    background-color: $steelblue;
    filter: brightness(0.9);
  }

  .btn-primary:active {
    color: $gray-200;
    border-color: $gray-600;
    background-color: $steelblue;
    filter: brightness(0.7);
  }
}