---
---

@import "{{ site.theme }}";

.page-header {
  background-color: rgba(119,47,26, 1.0);
  background-image:
    linear-gradient(rgba(119, 47, 26, 0.90), rgba(0, 0, 0, 0.90)),
    url(../images/muldoon-header.png);
  padding: 2em;
}

.page-header-text {
  background-color: rgba(0, 0, 0, 0.1);
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
      color: rgba(119, 47, 26, 1.0);
  }
}